---
import InquiryBox from "./InquiryBox.astro";
---
<section class="rounded-3xl border border-[color-mix(in_srgb,var(--nm-fg)_10%,transparent)] bg-white/70 p-6 text-[color-mix(in_srgb,var(--nm-fg)_70%,var(--nm-bg))]">
  <InquiryBox />
</section>